.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Estilos para el visor de pantalla completa */
.openseadragon-container {
  width: 100% !important;
  height: 100% !important;
}

/* Ocultar scrollbars */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  overflow: hidden;
}